ul,ol{
    list-style-type: none;
}
a{  color: inherit;
    text-decoration: none;
}
button{
    cursor: pointer;
}

body{
    font-family: "Roboto", sans-serif;
    color:#2e2f42;
    background-color:#fff;
}
.text-italic{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;}

.page-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;}

.menu-link{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;;
}
.contact-list-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
  }
  
  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }
.buy-now-btn{font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4d5ae5;
}
.buy-now-btn:hover,
.buy-now-btn:focus {
   background: #404bbf;
}

.section1-list-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.section1-list-text{   
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
